dist/
node_modules/
*.log
/compiled
*.map.js
*.js
/src/**/*.js
ngx-virtual-scroller-*.tgz
!docs/**/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
